/* Begin footer */
#footer {
  background: none repeat scroll 0 0 #303030;
  margin: 0 auto 50px;
  padding: 15px 35px 0;
  min-height: 200px;
  color: #aaaaaa;
  font-size: 8pt;
}

#footer img {
  width: 70px;
  height: auto;
}

.footer-headline {
  background: url("../images/footer-headline-bg.png") repeat-x scroll 0 50% rgba(0, 0, 0, 0);
  display: block;
  margin: 15px 0 8px;
  color: #ffffff
}

.footer-headline h1,
.footer-headline h2,
.footer-headline h3,
.footer-headline h4,
.footer-headline h5,
.footer-headline h6  {
  background-color: #303030;
  color: #ffffff;
  display: inline;
  padding: 0 10px 0 0;
}

/* End footer */