body {
  padding-top: 70px;
}

#main-container {
  margin-top: 40px;
}

.container h1:first-of-type {
  margin-top: 0;
}

.carousel {
  margin-top: -20px;
  margin-bottom: 40px;
  height: 500px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.feature {
  margin-bottom: 80px;
}

.thumbnail {
  height: 550px;
  overflow: hidden;
}

.thumbnail .caption {
  margin-bottom: 35px;
}

.thumbnail .btn-primary {
  position: absolute;
  bottom: 30px;
  right: 30px
}

.rating-container .rating-stars {
  color: #A94442 !important;
}

#sub-caption {
  font-size: 26px;
  margin-bottom: 0;
}