@import "compass/css3";
@import "compass/utilities";

$designer-color : #89b4dd;
$developer-color : #f0ca84;
$engineer-color : #eaf098;
$musician-color : #d9c5f0;
$visual-color : #9d9cf0;
$filmmaker-color : #b9f0d0;
$writer-color : #ebf0d9;
$project-color : #f0b4ad;

.projects {
  height: 550px;
}

.learn-more {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

.contributor {
  margin-bottom: 10px;
}

#new-project-panel-btn {
  color: #fff !important;
}

.need.thumbnail {
  height: 380px;
  margin: 3px;
  padding: 0;
}

.need .form-group {
  padding: 3px;
}

.need .need-header {
  background-color: #bbb;
  height: 36px;
}

.need .need-header select {
  margin: 4px 0;
}

.need.designer .need-header{
  background-color: $designer-color;
}

.need.developer .need-header{
  background-color: $developer-color;
}

.need.engineer .need-header{
  background-color: $engineer-color;
}

.need.musician .need-header{
  background-color: $musician-color;
}

.need.visual .need-header{
  background-color: $visual-color;
}

.need.filmmaker .need-header{
  background-color: $filmmaker-color;
}

.need.writer .need-header{
  background-color: $writer-color;
}

.need.project .need-header{
  background-color: $project-color;
}

.startup-need {
  border: 1px solid #bbb;
  @include border-radius(10px);
  padding: 5px;
  padding-top: 0;
  margin: 5px 0;
}

.startup-need h4 {
  @include border-top-left-radius(10px);
  @include border-top-right-radius(10px);
  margin: 0px -5px 8px -5px !important;
  padding: 2px 5px;
}

.startup-need h4.designer {
  background-color: $designer-color;
}

.startup-need h4.developer {
  background-color: $developer-color;
}

.startup-need h4.engineer {
  background-color: $engineer-color;
}

.startup-need h4.musician {
  background-color: $musician-color;
}

.startup-need h4.visual {
  background-color: $visual-color;
}

.startup-need h4.filmmaker {
  background-color: $filmmaker-color;
}

.startup-need h4.writer {
  background-color: $writer-color;
}

.startup-need h4.project {
  background-color: $project-color;
}

.about img {
  height: 100px;
  margin-right: 5px;
}