i.fa.fa-info-circle
{
	font-size: 20px;
}

i.fa.fa-eraser
{
	font-size: 20px;
}

.icon
{
	text-align:center;
}

#colorbox
{
	outline: 0;
}

i.fa.fa-envelope-o {
	font-size: 29px;
	color: gray;
}

ul.nav.navbar-nav.navbar-right li#envelope a
{
	padding-top: 10px;
	padding-bottom: 0px;
}

div#cboxOverlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: visible !important;
	opacity: 0.5 !important;
	background: url(../images/overlay.png) repeat 0 0;
	top: 0;
	left: 0;
	border: 0px;
}

#cboxTopLeft
{
	width: 21px;
	height: 21px;
	background: url(../images/controls.png) no-repeat -101px 0;
}

#cboxTopCenter
{
	height: 21px;
	background: url(../images/border.png) 0 0 repeat-x;
}

#cboxTopRight
{
	width: 21px;
	height: 21px;
	background: url(../images/controls.png) no-repeat -130px 0;
}

#cboxMiddleLeft
{
	width: 21px;
	background: url(../images/controls.png) left top repeat-y;
}

#cboxContent
{
	background: #fff;
	overflow: hidden;
}

#cboxMiddleRight
{
	width: 21px;
	background: url(../images/controls.png) right top repeat-y;
}

#cboxBottomLeft
{
	width: 21px;
	height: 21px;
	background: url(../images/controls.png) no-repeat -101px -29px;
}

#cboxBottomCenter
{
	height: 21px;
	background: url(../images/border.png) 0 -29px repeat-x;
}

#cboxBottomRight
{
	width: 21px;
	height: 21px;
	background: url(../images/controls.png) no-repeat -130px -29px;
}

.projects
{
	height: 550px;
}
.learn-more
{
	position: absolute;
	right: 25px;
	bottom: 30px;
}
