#login-modal .tab-pane {
  padding-top: 20px;
}

#talent, #startup {
  display: block;
  margin: 0 auto;
}

.sign-up label {
  cursor: pointer;
  text-align: center;
}

.label-header {
  display: block;
  font-size: 30px;
}

.glyphicons.type {
  font-size: 80px;
  display: block;
}
