html {
    font-family: 'Source Sans Pro', sans-serif !important;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 500;
	padding-top: 70px;
	/* Margin bottom by footer height */
  	margin-bottom: 240px;
    font-size: 15px;
}

@media screen and (max-width: 767px) {
	#navbar-logo {
		width: 150px;
		top: 4px;
		position: absolute;
	}
}

@media (min-width: 768px) {
	#navbar-logo {
		width: 170px;
		top: 0px;
        position: absolute;

	}
}

#main-container {
	margin-top: 40px;
	padding-bottom: 50px;
}

.container h1:first-of-type {
	margin-top: 0
}

.carousel {
	margin-top: -20px;
	margin-bottom: 40px;
	height: 500px
}

.carousel-caption {
	z-index: 10
}

.carousel .item {
	height: 500px;
	background-color: #777
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px
}

.profile-image, .profile-image-lg, .profile-image-sm {
	background-repeat: no-repeat
}

.projects, .thumbnail {
	height: 550px
}

.feature {
	margin-bottom: 80px
}

.thumbnail {
	overflow: hidden
}

.thumbnail .caption {
    height: 240px;
    margin-bottom: 5px;
    max-height: 240px;
    overflow: hidden;
}

.thumbnail .btn-primary {
	position: absolute;
	bottom: 30px;
	right: 30px
}

.rating-container .rating-stars {
	color: #A94442 !important
}

#sub-caption {
	font-size: 26px;
	margin-bottom: 0
}

.email-signin {
	margin-top: 20px
}

#launch-event {
	padding-left: 5px;
	padding-right: 5px
}

.learn-more {
	position: absolute;
	right: 25px;
	bottom: 30px
}

.contributor {
	margin-bottom: 10px
}

#new-project-panel-btn {
	color: #fff !important
}

.need.thumbnail {
	height: 380px;
	margin: 3px;
	padding: 0
}

.need .form-group {
	padding: 3px
}

.need .need-header {
	background-color: #bbb;
	height: 36px
}

.need .need-header select {
	margin: 4px 0
}

.need.designer .need-header {
	background-color: #89b4dd
}

.need.developer .need-header {
	background-color: #f0ca84
}

.need.engineer .need-header {
	background-color: #eaf098
}

.need.musician .need-header {
	background-color: #d9c5f0
}

.need.visual .need-header {
	background-color: #9d9cf0
}

.need.filmmaker .need-header {
	background-color: #b9f0d0
}

.need.writer .need-header {
	background-color: #ebf0d9
}

.need.project .need-header {
	background-color: #f0b4ad
}

.startup-need {
	border: 1px solid #bbb;
	padding: 0 5px 5px;
	margin: 5px 0
}

.startup-need h4 {
	margin: 0 -5px 8px !important;
	padding: 2px 5px
}

.startup-need h4.designer {
	background-color: #89b4dd
}

.startup-need h4.developer {
	background-color: #f0ca84
}

.startup-need h4.engineer {
	background-color: #eaf098
}

.startup-need h4.musician {
	background-color: #d9c5f0
}

.startup-need h4.visual {
	background-color: #9d9cf0
}

.startup-need h4.filmmaker {
	background-color: #b9f0d0
}

.startup-need h4.writer {
	background-color: #ebf0d9
}

.startup-need h4.project {
	background-color: #f0b4ad
}

.about img {
	height: 100px;
	margin-right: 5px
}

.profile-image {
	height: 250px !important;
	background-position: center center;
	margin: 0 auto
}

.profile-image-lg {
	height: 300px;
	background-position: top left;
	margin-bottom: 20px;
}

.profile-image-sm {
	height: 150px;
	background-position: center center;
	margin: 0 auto
}

.social-links p {
	margin: 2px 5px
}

.social-links a {
	padding-left: 5px
}

#login-modal .tab-pane {
	padding-top: 20px
}

#startup, #talent {
	display: block;
	margin: 0 auto
}

.sign-up label {
	cursor: pointer;
	text-align: center
}

.label-header {
	display: block;
	font-size: 30px
}

.glyphicons.type {
	font-size: 80px;
	display: block
}

.linked-in-btn {
	font-size: 34px
}

.container-footer {
    position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 240px;
    margin: 60px 0 auto;
}

#footer {
	background: #ef4041;
	color: #fff;
	font-size: 8pt
}

#footer img {
	width: 70px;
	height: auto
}

#footer a {
    color: #fff;
}

.footer-headline {
	display: block;
	margin: 15px 0 8px;
	color: #fff;
	border-bottom: solid #fff 1px;
	padding-bottom: 5px;
}

.footer-headline h1, .footer-headline h2, .footer-headline h3, .footer-headline h4, .footer-headline h5, .footer-headline h6 {
	background-color: #303030;
	color: #fff;
	display: inline;
	padding: 0 10px 0 0
}

.footer-text {
    text-align: center;
}

.footer-banner {
    margin: 0;
}

.footer-banner {
    float:left;
    width:100%;
}

.footer-banner .breadcrumb {
    text-align: center !important;
    margin-bottom: 0 !important;
}

#adsense img {
	padding-top: 50px
}

.adsense div {
	height: 100px;
	margin-bottom: 30px;
	padding: 10px
}

.ui-autocomplete-loading {
	background: url(/images/spinner16.gif) right center no-repeat
}

#recipient_list {
	margin-top: 5px
}

#footer {
	word-wrap: break-word
}

.header .profile-image {
	width: 180px;
	height: 180px;
	margin-right: 30px;
}

.header .profile-content .name {
	color: #49515A;
	font-size: 38px;
	margin-bottom: 5px;
	margin-top: 30px;
}

.header .profile-content .desc {
	color: #778492;
	font-weight: 400;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.header .profile-content .social a {
	background: none repeat scroll 0% 0% padding-box #B0B7BF;
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	color: #FFF;
	text-align: center;
}

.header .profile-content .social a .fa {
	font-size: 20px;
	padding-top: 8px;
}

.steps span {
	background: none repeat scroll 0% 0% padding-box #B0B7BF;
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding-top: 4px;
}

.steps .active span {
	background-color: #337AB7;
	border-color: #2E6DA4;
	color: #fff;
}

.steps {
	color: #777;
}

.steps .active {
	color: #333;
}

.new-badge {
	position: absolute;
	right: 20px;
}

.accept {
	margin-top: 20px;
}

#header-nav {
	font-size: 16px !important;
}

.text-divider {
	overflow: hidden;
	margin: 20px 0;
	text-align: center;
	position: relative;
}
.text-divider span {
	display: inline-block;
	position: relative;
}
.text-divider span:before,
.text-divider span:after {
	content: "";
	position: absolute;
	height: 50%;
	border-bottom: 1px solid #666666;
	top: 0;
	width: 2048px;
}
.text-divider span:before {
	right: 100%;
	margin-right: 15px;
}
.text-divider span:after {
	left: 100%;
	margin-left: 15px;
}

.social-likes__button_facebook:hover {
    color: #243658;
}

.social-likes__button_twitter:hover {
    color: #146584;
}

.social-likes__button_plusone:hover {
    color: #8E2A20;
}

#community-header.carousel {
    margin-bottom: 0;
    height: 1000px;
}

#community-header.carousel h1 {
    margin-bottom: 100px;
}

#community-header.carousel .item {
    background: url("/images/oix/DSC_6362_Fotor.jpg") 50% 0%;
    width: 100%;
    background-size: cover !important;
    background-position: 50% 50% !important;
    height: 1000px;
}

.community-logo {
    margin-top: 50px;
	width: 17%;
	margin-bottom: 15px;
}

#community-join {
    color: #fff;
    z-index: 999;
    position: relative;
}

#community-join a {
    color: #fff;
    text-decoration: underline;
}

#email-form {
    text-align: left;
}

.community-sub-header.carousel .item {
    background-color: #ef4041;
    height: 400px;
}

.overlay:before {
    background-color: #333333;
    opacity: 0.5;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
}

.text-larger {
	font-size: 20px;
}

.alert-normal {
	background-color: #F8F8F8;
	border-color: #E7E7E7;
}

.flag-content {
	clear: both;
	font-size: .8em;
	color: #ef4041;
}

.flag-content:hover {
	cursor: pointer;
}
